Banking System/Banking System/obj/
Banking System/.vs/
Banking System/BankingSystem.ApplicationLogic/obj/
Banking System/BankingSystem.ApplicationLogin.Tests/obj/
Banking System/BankingSystem.EFDataAccess/obj/
Banking System/BankingSystemExchange/obj/
