@{
    ViewData["Title"] = "About BankingSystem";
}
<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="col-lg-7">
        <h3>Imagine managing your entire financial life from a single app.</h3>
        <p> That's our goal at [BankingSystem]. From everyday spending and budgeting, to foreign currency exchange and easy-access stock trading. We're here to help you get more from your money.</p>
    </div>
    <div class="col-lg-5">
        <img src="~/images/about.png" style="width: 90%;"/>
    </div>
</div>
