@{
    ViewData["Title"] = "Contact us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Paper Street<br />
    At some number no one ever talks about<br />
    <abbr title="Phone">P:</abbr>
    123.456.789
</address>

<address>
    <strong>Support:</strong> <a href="mailto:bankingsystem@gmail.com">bankingsystem@gmail.com</a><br />
</address>

