@model List<BankingSystem.ApplicationLogic.Data.User>

@{
    ViewBag.Title = "All Users";
}

<h1>All Users</h1>

<div class=" container" style="padding-top: 70px;">
    <table class=" table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th scope="col"> Go to account </th>
                <th scope="col"> # </th>
                <th scope="col"> Username </th>
            </tr>
        </thead>
        @if (Model.Any())
        {
            foreach (var user in Model)
            {
    <tr>
        <td><a asp-action="AccountsList" asp-controller="Administrator" asp-route-id="@user.UserName" class="btn2 btn-info">AccountsList</a></td>
        <td>@user.UserId</td>
        <td>@user.UserName</td>
    </tr>              
            }
        }
    </table>
</div>
